body {
    background: black !important;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #c9f700;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 7px;


}
.card { 
margin: auto;
width: 60%;
border: 5px solid #c9f700 !important;
padding: 10px;
background-color: black !important;
color: lightgreen !important;
}